body {
    background-color: beige;
    margin-left: 20%;    
}

.er {
    color: red;
}

.ok {
    color: green;
}

.button {
    background-color: purple;
    border: none;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

#del {
    background-color: red;
}
.twobuttons {
    display: flex;

}

